@import "variables";
@import "demo";

.link {
	stroke: $graphLabelColor;
	stroke-width: 2px;
	marker-end: url(#marker-arrow);
}

.marker-arrow {
	fill: $graphLabelColor;
}

svg,
.labels-container {
	font-family: 'Roboto';
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	text {
		fill: $graphLabelColor;
	}
}

circle {
	&:hover {
		cursor: pointer;
	}
}
